<div class="container py-5 pb-5">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="row">
                <div class="col-md-9">
                    <h1 class="h1">
                        This First Heading
                        <span class="text-secondary">Will Catch Your Eye</span>
                    </h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis a
                        obcaecati veritatis, harum enim consectetur error nemo tenetur minima
                        maiores maxime, explicabo, ut debitis. Sit facere accusamus dolorem
                        ipsa libero.
                    </p>
                </div>
                <div class="col-md-3">
                    <img src="assets/img/1.jpg" class="rounded-circle img-fluid" alt="..." />
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>