<!-- your html code here -->
<div class="container">
  <hr />
  <div class="container pt-5 pb-5">
    <div class="row">
      <h2 id="portfolio">Portfolio</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
        hendrerit placerat imperdiet. Nunc ac rhoncus ipsum, aliquet consequat
        libero. Aliquam gravida, neque vehicula posuere molestie, nisl ipsum
        faucibus tortor, a sodales risus erat pharetra eros.
      </p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="bg-secondary mb-2 box">
            <img
            src="/website/assets/img/big-project-image.png"
            class="img-fluid w-100"
            alt="Project image"
          />
        </div>
        <p class="h5 text-primary">Project Name</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut
          venenatis massa, ac mollis nulla.
        </p>
      </div>
      <div class="col-md-4">
        <div class="bg-secondary mb-2 box">
            <img
                src="/website/assets/img/big-project-image.png"
                class="img-fluid w-100"
                alt="Project image"
              />
        </div>
        <p class="h5 text-primary">Project Name</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          pretium risus commodo consectetur mollis. Quisque.
        </p>
      </div>
      <div class="col-md-4">
        <div class="bg-secondary mb-2 box">
            <img
            src="/website/assets/img/big-project-image.png"
            class="img-fluid w-100"
            alt="Project image"
          />
        </div>
        <p class="h5 text-primary">Project Name</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
          malesuada dignissim nisl cursus elementum. Vivamus.
        </p>
      </div>
    </div>
  </div>
  <hr />
</div>
