<header class="masthead text-center text-white py-5" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url('https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?auto=format&fit=crop&w=1200&q=80'); background-repeat: no-repeat; background-size: cover; background-position: center;">
    <div class="masthead-content my-5 py-5">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0 display-1 fw-bold">One Page Wonder</h1>
            <h2 class="masthead-subheading mb-0 display-4 fw-normal">Will Knock Your Socks Off</h2>
            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Learn More</a>
        </div>
    </div>
</header>
